<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Toolkit.Uwp.UI.Controls" version="7.1.2" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Chart.for.Wpf.Trial" version="2022.1.222" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.for.Wpf.Trial" version="2022.1.222" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml.Trial" version="2022.1.222" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf.Xaml.Trial" version="2022.1.222" targetFramework="net48" />
  <package id="Telerik.Windows.Data.for.Wpf.Trial" version="2022.1.222" targetFramework="net48" />
  <package id="Telerik.Windows.Data.for.Wpf.Xaml.Trial" version="2022.1.222" targetFramework="net48" />
  <package id="Telerik.Windows.Themes.Fluent.for.Wpf.Trial" version="2022.1.222" targetFramework="net48" />
  <package id="Telerik.Windows.Themes.Material.for.Wpf.Trial" version="2022.1.222" targetFramework="net48" />
</packages>